<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="serverConnection" connectionString="Server=server1; Database=master; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="serverConnection2" connectionString="Server=server2; Database=master; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
